@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.main-book {
  position: relative;
  perspective: 800px;
  margin-top: 8%;
  font-family: "Nanum Pen Script", cursive;
  transition: all 1s;
}

.sec-book {
  position: relative;
  width: 320px;
  height: 520px;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition-timing-function: ease-in;
  transition: all 3s;
}

.section-book-front {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  background-color: #1b2b40;
  backface-visibility: hidden;
}

.btn-book-right.on,
.btn-book-back.on {
  background: pink;
  transform: rotateX(180deg);
  border: none;
  width: 40vw;
  height: 70vh;
}
.btn-book-right.on {
  border-left: 2px solid rgb(231, 221, 226);
}
.btn-book-right,
.btn-book-back {
  border: none;
  cursor: pointer;
  transition: all 1s;
}

.btn-book-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  background-color: #1b2b40;
  border-right: 1px solid #476fa3;
  backface-visibility: hidden;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.btn-book-back .back-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.btn-book-right {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 320px;
  height: 520px;
  background-color: #1b2b40;
}
.sec-book,
.btn-book-right {
  left: 50%;
}
.btn-book-right:hover ~ .sec-book,
.sec-book:hover {
  transform: rotateY(-180deg);
}
.hd-book {
  display: block;
  padding: 20px 0px;
}

.img-me {
  width: 120px;
  height: 130px;
  border-radius: 50%;
  margin: 10px 0px 20px 0px;
}
.h2-bookname {
  display: block;
  margin: 20px auto;
  width: 90px;
  height: 30px;
  color: #fff;
  font-size: 48px;
  line-height: 30px;
}
.art-introduction {
  padding: 20px 0px;
  width: 90%;
  border: 3px solid #f2c36b;
  margin: 0 auto;
  border-radius: 10px;
}
.introduction {
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
}
.go-portfolio {
  width: 80%;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  background-color: #d9d9d9;
  border-radius: 5px;
  margin-top: 20px;
}

/* grid */
.btn-book-back .back-item1 {
  grid-column: 1/3;
  grid-row: 1/4;
  background-color: #f2f2f0;
}
.btn-book-back .back-item2 {
  grid-column: 3/5;
}
.btn-book-back .back-item3 {
  grid-column: 3/5;
}
.btn-book-back .back-item2,
.btn-book-back .back-item3 {
  background-color: #d98494;
}
.btn-book-back .back-item4 {
  grid-column: 1/6;
  grid-row: 4/6;
  background-color: #8c3a40;
}
.btn-book-back .back-item5 {
  grid-column: 1/3;
  grid-row: 6/9;
  background-color: #f2c335;
}
.btn-book-back .back-item6 {
  grid-column: 3/6;
  grid-row: 6/9;
  background-color: #f2c335;
}

/* mediaquery */
@media screen and (max-width: 950px) {
  .section-book-front,
  .btn-book-back,
  .btn-book-right {
    width: 220px;
    height: 400px;
  }

  .img-me {
    width: 90px;
    height: 100px;
    margin: 10px 0px 10px 0px;
  }
  .h2-bookname {
    margin: 10px auto;
    font-size: 32px;
  }
  .art-introduction {
    width: 85%;
  }
  .introduction {
    font-size: 18px;
  }
}
@media screen and (max-device-width: 600px) {
  .section-book-front,
  .btn-book-back,
  .btn-book-right {
    width: 180px;
    height: 320px;
  }
  .h2-bookname {
    margin: 10px auto;
  }
  .img-me {
    width: 70px;
    height: 80px;
    margin: 0px 0px 10px 0px;
  }
  .introduction {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .art-introduction {
    padding: 10px 0px;
    border-radius: 10px;
  }
  .btn-book-right.on,
  .btn-book-back.on {
    width: 40vw;
    height: 40vh;
  }
}
