.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  top: auto;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.body-portfolio {
  font-family: "Noto Sans KR", sans-serif;
}

/* header */
.header-menu {
  width: 100%;
  position: fixed;
  z-index: 100;
  /* background-color: #17161c; */
}
.menu-list {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.header-menu .menu-list li {
  position: relative;
}
.header-menu .menu-list li::after {
  position: absolute;
  content: "";
  top: 24px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #17161c;
  transition: all ease-in-out 0.25s 0s;
}
.header-menu .menu-list li:hover::after {
  width: 100%;
  background-color: #fff;
}
.menu-list.down {
  background-color: #fff;
  color: #262621;
  opacity: 0.9;
}
.header-menu .menu-list.down li::after {
  background-color: #fff;
}
.header-menu .menu-list.down li:hover::after {
  background-color: #17161c;
}
.sub-menu {
  display: none;
}
.sub-menu > li {
  margin: 0px 0px 10px 10px;
}
.menu-link {
  position: relative;
}
.menu-link:hover + .sub-menu,
.sub-menu:hover {
  z-index: 200;
  display: block;
  width: 100px;
  height: 80px;
  padding: 30px 30px 30px 0px;
  position: absolute;
  top: 20px;
  background-color: none;
}
.menu-link:hover + .sub-menu.down,
.sub-menu.down:hover {
  background-color: #fff;
}
/* 모바일 메뉴 */
.menu-mobile {
  display: none;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font-weight: 700;
  margin: 20px;
  background-color: #17161c;
}
.list-mobile {
  display: none;
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 700;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 50px;
  background-color: #17161c;
  color: #fff;
  opacity: 0.8;
}
.list-mobile.on {
  display: flex;
}

@media screen and (max-width: 950px) {
  .menu-list {
    padding: 30px 70px;
    font-size: 15px;
  }
  .menu-link:hover + .sub-menu,
  .sub-menu:hover {
    top: 15px;
  }
  .sub-menu > li {
    margin-bottom: 15px;
  }
}

@media screen and (max-device-width: 800px) {
  .nav-menu {
    display: none;
  }
  .menu-mobile {
    display: inline-block;
  }
}
