.section-aboutme {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: #f2e205;
}
.h3-aboutme {
  font-size: 70px;
  font-weight: 700;
  padding: 12vh 0px;
  /* color: white; */
}
.art-aboutme {
  display: flex;
  justify-content: space-around;
  padding: 0px 20px;
}
.info-container,
.chart-container {
  display: flex;
}
.img-aboutme {
  width: 300px;
  height: 400px;
  margin-right: 20px;
  border-radius: 60px;
}
.info-aboutme > .info {
  margin-bottom: 20px;
}
.info-aboutme > .info > p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.info-aboutme > .info > ul > li {
  font-size: 16px;
  margin-bottom: 10px;
}
.edu-list,
.ops-list,
.intro-list,
.react-list {
  background-color: #f25c05;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: start;
}
.edu-list {
  background-color: #f29f05;
}
.ops-list {
  background-color: #f2b705;
}
.react-list {
  background-color: #465e8c;
  color: #fff;
}
.myChart {
  width: 400px;
  height: 400px;
}

/* media */
@media screen and (max-width: 1250px) {
  .img-aboutme {
    width: 250px;
    height: 330px;
    border-radius: 35px;
  }
  .info-aboutme > .info > p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .info-aboutme > .info > ul > li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .myChart {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 1000px) {
  .art-aboutme {
    justify-content: center;
  }
  .h3-aboutme {
    padding: 5vh 0px;
  }
  .chart-container {
    flex-direction: column;
  }
  .info-container {
    margin-right: 50px;
  }
  .img-aboutme {
    width: 220px;
    height: 280px;
    border-radius: 20px;
    margin-right: 10px;
  }
  .info-aboutme > .info > p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .info-aboutme > .info > ul > li {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .info-aboutme > .info {
    margin-bottom: 10px;
  }
  .edu-list,
  .ops-list,
  .intro-list,
  .react-list {
    padding: 10px 5px;
    border-radius: 20px;
  }
  .myChart {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
  }
}

@media screen and (max-device-width: 800px) {
  .h3-aboutme {
    font-size: 40px;
    padding: 4vh 0px;
  }
  .art-aboutme {
    flex-direction: column;
    padding: 0px 20px;
  }
  .info-container,
  .chart-container {
    width: 100%;
    justify-content: center;
  }
  .img-aboutme {
    width: 150px;
    height: 200px;
    border-radius: 25px;
  }
  .info-aboutme > .info > p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .info-aboutme > .info > ul > li {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .edu-list,
  .ops-list,
  .intro-list,
  .react-list {
    padding: 5px 10px;
    border-radius: 10px;
  }
  .myChart {
    width: 300px;
    height: 300px;
    margin: 10px auto;
  }
  .react-list {
    text-align: center;
  }
}
