.section-main {
  display: flex;
  padding: 0 60px;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #d5d7f2;
}
.h3-section-main {
  /* position: absolute;
  top: 40vh;
  left: 20vh;
  font-weight: 700;
  font-size: 90px;
  line-height: 120px;
  background: linear-gradient(to right top, rgb(19, 19, 189), #7a9fbf);
  color: transparent;
  -webkit-background-clip: text; */
}
.code-bubble {
  display: flex;
  align-items: center;
}
.coding-lee {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 50px;
}

.speech-bubble {
  position: relative;
  width: 300px;
  height: 240px;
  background: #f2f2f2;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 350px;
}
.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: #f2f2f2;
  border-bottom: 0;
  border-left: 0;
  margin-left: -120px;
  margin-bottom: 5px;
  transform: rotateZ(20deg);
}
.speech-bubble p {
  font-size: 24px;
  font-weight: 700;
  padding: 40px 0px;
  line-height: 40px;
}
.art-note-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.h4-note {
  font-size: 40px;
  font-weight: 700;
  color: #0d0d0d;
  margin-bottom: 20px;
}
.note {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 460px;
  height: 60vh;
  background-color: #fff;
  border: 20px solid #a67a6a;
}
.note > li {
  margin: 0 auto;
  width: 80%;
  height: 40px;
  line-height: 45px;
  border-bottom: 2px dotted #000;
  font-size: 18px;
}

@media screen and (max-width: 1250px) {
  .coding-lee {
    width: 250px;
    height: 250px;
  }

  .speech-bubble {
    width: 230px;
    height: 190px;
    margin-bottom: 280px;
  }
  .speech-bubble:after {
    border: 30px solid transparent;
    border-top-color: #f2f2f2;
    border-bottom: 0;
    border-left: 0;
    margin-left: -100px;
  }
  .speech-bubble p {
    font-size: 19px;
    line-height: 28px;
  }
  .note {
    width: 410px;
    height: 55vh;
    background-color: #fff;
    border: 20px solid #a67a6a;
  }
  .note > li {
    margin: 0 auto;
    width: 80%;
    height: 40px;
    line-height: 45px;
    border-bottom: 2px dotted #000;
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .section-main {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    justify-content: center;
    align-items: center;
    height: 170vh;
    background-color: #d5d7f2;
  }
  .h4-note {
    margin-bottom: 40px;
  }
}

@media screen and (max-device-width: 800px) {
  .coding-lee {
    width: 200px;
    height: 200px;
  }
  .speech-bubble {
    width: 200px;
    height: 170px;
    margin-bottom: 260px;
  }
  .speech-bubble:after {
    border: 30px solid transparent;
    border-top-color: #f2f2f2;
    border-bottom: 0;
    border-left: 0;
    margin-left: -80px;
  }
  .speech-bubble p {
    font-size: 16px;
    line-height: 24px;
  }
  .h4-note {
    text-align: center;
  }
  .note {
    width: 370px;
    height: 55vh;
    background-color: #fff;
    border: 20px solid #a67a6a;
  }
  .note > li {
    margin: 0 auto;
    width: 80%;
    height: 40px;
    line-height: 45px;
    border-bottom: 2px dotted #000;
    font-size: 14px;
  }
}
