.section-projects {
  width: 100%;
}
.h3-projects {
  font-size: 70px;
  font-weight: 700;
  padding: 12vh 0px;
  text-align: center;
  /* color: white; */
}
.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  margin: 0 10%;
}
.projects-item {
  position: relative;
}
.img-projects {
  width: 90%;
  border-radius: 20px;
  cursor: pointer;
}
.img-projects:hover {
  opacity: 0.1;
  border: 1px solid #000;
}
.ul-projects {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.img-projects:hover + .ul-projects {
  opacity: 1;
}
