.section-projects {
  width: 100%;
  background-color: #fff;
}
.h3-projects {
  font-size: 70px;
  font-weight: 700;
  padding: 12vh 0px;
  text-align: center;
  /* color: white; */
}
.projects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-item {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ul-projects {
  display: flex;
  width: 60%;
  height: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 4vh;
  transition: all 0.5s ease-in-out;
}
.ul-projects.onboarding {
  padding: 100px 0;
  background: url("../../img/onboarding.jpg") center center;
  background-size: cover;
}
.ul-projects.futurama {
  padding: 100px 0;
  background: url("../../img/Futurama.jpg") center center;
  background-size: cover;
}
.ul-projects.loltest {
  padding: 100px 0;
  background: url("../../img/loltest.jpg") center center;
  background-size: cover;
}
.ul-projects.SCP {
  padding: 100px 0;
  background: url("../../img/SCP.jpg") center center;
  background-size: cover;
}
.ul-projects.SDV {
  padding: 100px 0;
  background: url("../../img/sdv.jpg") center center;
  background-size: cover;
}
.ul-projects > li {
  display: none;
}
.ul-projects:hover {
  background: #4e5662;
}
.ul-projects:hover > li {
  display: flex;
}
.header-projects {
  font-size: 2em;
  margin-bottom: 20px;
  background: #e5e9eb;
  color: #17161c;
  font-weight: 700;
  padding: 20px 30px;
}
.stack-list > span:not(:last-child) {
  margin-right: 5px;
}
.stack-list {
  margin-bottom: 10px;
}
.stack-item {
  font-weight: 700;
  padding: 5px 15px;
  background-color: chocolate;
  border-radius: 30px;
  font-size: 14px;
}
.react {
  background-color: #c9f2e7;
}
.next {
  background-color: #262523;
  color: #fff;
}
.ts {
  background-color: #033e8c;
  color: #fff;
}
.emotion {
  background-color: #f2cb07;
}
.swr {
  background-color: #bbd98f;
}
.axios {
  background-color: #d96c94;
}
.vercel {
  background-color: #090b0d;
  color: #fff;
}
.html {
  background-color: #d90404;
  color: #fff;
}
.css {
  background-color: #05aff2;
  color: #fff;
}
.js {
  background-color: #f2c12e;
}
.netlify {
  background-color: #04bf45;
}
.aws {
  background-color: #ffeebc;
}
.strapi {
  background-color: #8303a6;
  color: #fff;
}
.firebase {
  background-color: #66add9;
  color: #fff;
}
.fetch {
  background-color: #d1d0f2;
}
.heroku {
  background-color: #f2e205;
}
.redux {
  background-color: #0540f2;
  color: #fff;
}
.content-projects {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.content-projects > div {
  width: 50%;
  font-size: 16px;
  text-align: start;
  padding: 20px;
  line-height: 25px;
  background-color: #fff;
  border-radius: 10px;
}
.content-projects > div > a > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.content-projects > div > a > img:hover {
  transform: scale(1.2);
}
.content-projects > div:not(:last-child) {
  margin-right: 10px;
}
.content-projects > div > p:not(:last-child) {
  margin-bottom: 20px;
}

.more-toy {
  text-align: end;
  padding: 30px;
}
.main-toy {
  font-size: 18px;
  font-weight: 700;
}
.main-toy > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.main-toy:hover {
  color: #f26241;
}

@media screen and (max-width: 1250px) {
  .content-projects {
    width: 90%;
  }
  .header-projects {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: 700;
    padding: 15px 25px;
  }
  .ul-projects {
    display: flex;
    width: 60%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 4vh;
    transition: all 1s ease-in-out;
  }
  .stack-item {
    font-weight: 700;
    padding: 5px 10px;
    font-size: 12px;
  }
  .content-projects > div {
    width: 50%;
    font-size: 13px;
    padding: 10px;
    line-height: 22px;
  }
  .content-projects > div > a > img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-device-width: 800px) {
  .h3-projects {
    font-size: 40px;
    padding: 6vh 0px;
  }
  .ul-projects {
    width: 90%;
    height: 35vh;
  }
  .header-projects {
    font-size: 1em;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  .content-projects {
    flex-direction: column;
    align-items: center;
  }
  .content-projects > div {
    width: 100%;
    font-size: 13px;
    padding: 10px;
    line-height: 16px;
  }
  .stack-item {
    font-size: 10px;
  }
  .content-projects > div > p:not(:last-child) {
    margin-bottom: 10px;
  }
  .content-projects > div > a > img {
    width: 30px;
    height: 30px;
  }
  .content-projects > div:not(:last-child) {
    margin: 10px 0px;
  }
}
